
.body {
    margin: auto;
    font-family: Candara;
    background-color: white;
}

header {


}

h1:first-letter {
    color: red;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: darkgray;
    position: fixed;
    width: 100%;
}

li {
    float: left;
}

a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
    text-align: center;
}

a:hover:not(.active) {
    background-color: dimgray;
}

.active {
    background-color: dimgray;
}

.right {
    float: right;
}

.FirstImgHome {

}

