body {
    background-color: whitesmoke;
    background-attachment: fixed;
    font-family: Arial;
}

.body {
    margin: 0 auto;
    width: 100%;
}

.mainheader h1{
    margin-top: 60px;
    margin-left: 40px;
}

h1:first-letter {
    color: red;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: darkgrey;
    width: 100%;
    position: fixed;
    top:0;

}

li {
    float: left;

}

.mainheader a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
    text-align: center;

}

.mainheader a:hover:not(.active) {
    background-color: dimgray;
}

.active {
    background-color: dimgray;
}

.right {
    float: right;
}

.maincontent {
    overflow: hidden;
    border-radius: 5px;
}

.content {
    width: 100%;
}

.topcontent {
    margin-top: 30px;
    display: flex;
}

#fig1{
    justify-content: center;
}

.middlecontent {
    margin-top: 30px;
    margin-left: 50px;
    display: flex;
}

#fig2{
    justify-content: flex-start;
}
#fig3{
    justify-content: center;
}
#fig4{
    justify-content: flex-end;
}

.bottomcontent {
    margin-top: 30px;
    display: flex;
    margin-bottom: 30px;
    margin-left: 50px;
}

#fig5{
    justify-content: flex-start;
}
#fig6{
    justify-content: center;
}
#fig7{
    justify-content: flex-end;
}

.mainfooter{
    background-color: dimgray;
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
    text-align: left;
}

.button {
    color: black;
    padding: 4px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
    margin: 4px 10px;
    cursor: pointer;
    border-radius: 5px;
    background-color: white;
    border: 2px solid #e7e7e7;
}

.content a{
    text-decoration: none;
    color:black;
    display:block;
    float:left;
    font-size: small;
}

